body {
  margin: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
#datasets select {
  color: #fff;
  margin-bottom: 4px;
  background-color: #1a1a1a;
}
#button {
  background-color: #888;
}
#msg {
  vertical-align: middle;
  color: #ffc;
  padding-left: 10px;
}
#datasets select, summary {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
}
#data caption, #button, #datasets select, summary {
  padding: 10px;
}
#csv {
  margin-left: 10px;
}
summary {
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #ccc;
  border-bottom: 1px solid #fff;
}
summary:hover {
  color: #c00;
}
label {
  font-weight: normal;
  margin-bottom: 0;
}
details label {
  display: block;
}
details .cont {
  padding: 14px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #fff;
}
.time .cont:after {
  display: table;
  content: "";
  clear: both;
}
.time .cont > div {
  float: left;
  padding-right: 20px;
  margin-right: 10px;
}
.time #items {
  border-right: 1px solid #fff;
}
#number select {
  margin-left: 8px;
}


input[type=checkbox] {
  margin-right: 8px;
}

#languages {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 80%;
}
#languages li {
  display: inline-block;
  padding-left: 10px;
}
input[type="radio"] {
  vertical-align: top;
}

#data {
  overflow-x: auto;
}
#data table {
  width: 100%;
  border-width: 0 1px 1px 1px;
  border-color: #ccc;
  border-style: solid;
  border-collapse: separate;
  border-spacing: 2px;
}
#data caption {
  color: #fff;
  background-color: #888;
  border-top: 1px solid #eee;
  font-size: 80%;
}
#data tfoot td {
  text-align: left;
  color: #fff;
  background-color: #666;
}
#data tfoot a {
  float: right;
}

#data th, #data td {
  text-align: left;
  padding: 6px;
}
#data td {
  background-color: #eee;
  font-size: 80%;
}
#data th {
  background-color: #ccc;
}
#data tbody tr:hover td {
  background-color: #ddd;
}
#data th.number, #data td.number {
  text-align: right;
}

#data a:link,
#data a:visited,
#data a:hover,
#data a:active {
  color: #fff;
  text-decoration: none;
}
#data tbody a:link,
#data tbody a:visited,
#data tbody a:hover,
#data tbody a:active {
  color: #000;
}
#status {
  padding: 6px;
  border: 1px solid #ccc;
  margin-top: 2px;
  background-color: #eee;
}
#status p {
  font-size: 80%;
  margin: 0;
}
